<h1 class="govuk-heading-l">Enter your email address</h1>

<%= form_with url: passwordless_path, local: true do |f| %>
  <%= f.govuk_email_field :email, required: true, label: { hidden: true }, width: 'one-half' %>
  <%= f.govuk_submit %>
<% end %>
