<%= form_with model: @passwordless, url: passwordless_path, local: true do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">Enter your email address</h1>

  <%= f.govuk_email_field :email, required: true, label: { hidden: true }, width: 'one-half' %>

  <p class="govuk-body">
    By continuing, you confirm that you agree to our:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="https://www.trade-tariff.service.gov.uk/privacy" target="_blank">privacy notice (opens in new tab)</a>, which explains how we use your personal information</li>
    <li><a class="govuk-link" href="https://www.trade-tariff.service.gov.uk/terms" target="_blank">terms and conditions (opens in new tab)</a></li>
  </ul>

  <%= f.govuk_submit %>
<% end %>
