<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Verification link invalid</h1>

    <p class="govuk-body">This could be because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the verification link has expired</li>
      <li>you have switched web browser</li>
    </ul>
  </div>
</div>
