<h1 class="govuk-heading-l">Check your email</h1>

<p class="govuk-body">We've sent an email to <strong><%= @email %></strong></p>
<p class="govuk-body">Click the link in the email to sign in</p>
<p class="govuk-body">The link will stop working after 15 minutes</p>
