<% page_title "Check your email" %>

<h1 class="govuk-heading-l">Check your email</h1>

<p class="govuk-body">An email has been sent to <strong><%= @email %></strong></p>
<p class="govuk-body">You must follow the link in the email to verify your email address.</p>
<div class="govuk-inset-text">The link will stop working after 15 minutes.</div>

<%= govuk_details(summary_text: "Not received an email?") do %>
  <p class="govuk-body">
    Emails sometimes take a few minutes to arrive.
  </p>

  <p class="govuk-body">
    If you do not receive an email soon, check your spam or junk folder.
  </p>

  <p class="govuk-body">
    If this does not work, <%= govuk_link_to "contact us", "mailto:tariffmanagement@hmrc.gov.uk" %> for help.
  </p>
<% end %>
