.otp-input {
  display: flex;
  gap: 8px;
}

.otp-input__box {
  flex: 0 1 44px;
  min-width: 0;
  width: 44px;
  height: 44px;
  text-align: center;
  padding: 0;
}

.tariff-feedback-banner > .govuk-phase-banner {
  padding-top: 20px;
}
